# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DictionaryTutorial/target/
/DictionaryDemo/Core/target/
/DictionaryDemo/DictionaryService/target/
/DictionaryDemo/ExtendedDictionary/target/
/DictionaryDemo/GeneralDictionary/target/
/NetBeansApplications/nbproject/private/
/NetBeansApplications/build/
/NetBeansApplications/TestModule/build/
/NetBeansApplications/TestModule/nbproject/private/
/NetBeansApplications/Entities/build/
/NetBeansApplications/Entities/nbproject/private/
/NetbeansApplication/nbproject/private/
/NetBeansApplication/nbproject/private/
/NetBeansApplication/build/
/NetBeansApplication/Entities/build/
/AstroidsNetbeans/AstroidsNetbeans/branding/target/
/AstroidsNetbeans/AstroidsNetbeans/application/target/
/AstroidsNetbeans/AstroidsNetbeans/Common/target/
/AstroidsNetbeans/AstroidsNetbeans/Core/target/
/AstroidsNetbeans/AstroidsNetbeans/Player/target/
/AstroidsNetbeans/AstroidsNetbeansApplication/nbproject/private/
/AstroidsNetbeans/AstroidsNetbeansApplication/Core/nbproject/private/
/AstroidsNetbeans/AstroidsNetbeansApplication/build/
/NetBeansLab1/AsteroidsNetBeans/branding/target/
/NetBeansLab1/AsteroidsNetBeans/application/target/
/NetBeansLab1/AsteroidsNetBeans/Common/target/
/NetBeansLab1/AsteroidsNetBeans/Core/target/
/NetBeansLab1/AsteroidsNetBeans/Player/target/
/NetBeansLab2/AsteroidsNetBeans/SilentUpdate/target/
/OSGiLab/PaxAsteroids/OSGiLibGDX/target/
/OSGiLab/AsteroidsNetBeans/Common/target/
/OSGiLab/AsteroidsNetBeans/Core/target/
/OSGiLab/AsteroidsNetBeans/application/target/
/OSGiLab/AsteroidsNetBeans/branding/target/
/OSGiLab/OSGiAgeCalculator/AgeCalculatorAPI/target/
/OSGiLab/AsteroidsNetBeans/OSGiAsteroidsDS/target/
/OSGiLab/AsteroidsNetBeans/OSGiEnemyWhiteboard/target/
/OSGiLab/AsteroidsNetBeans/SilentUpdate/target/
/OSGiLab/AsteroidsNetBeans/OSGiExtender/target/
/OSGiLab/AsteroidsNetBeans/Player/target/
/OSGiLab/POMProject/Core/target/
/OSGiLab/POMProject/Common/target/
/OSGiLab/POMProject/Player/target/
/OSGiLab/PaxAsteroids/Player/target/